astroid==2.4.2
colorama==0.4.4
hupper==1.10.2
isort==5.6.4
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
names==0.3.0
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
player==0.6.1
pylint==2.6.0
pyramid==1.10.5
pyramid-jinja2==2.8
six==1.15.0
toml==0.10.2
translationstring==1.4
venusian==3.0.0
WebOb==1.8.6
wrapt==1.12.1
zope.deprecation==4.4.0
zope.interface==5.2.0
